/*
  GENERAL 
*/
html {
    // font-size override for consistency
    font-size:16px;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  @include single-transition(all, .5s, ease-in-out);  
}
body {
    font-size: $default;
    font-family: 'Open Sans', Arial, sans-serif;
    color: $dark;
    background-color: $blue;
}
.rounded {
    @include border-radius(3px);
}
.shaded {
    @include text-shadow(1px, 2px, #000);
}
::-moz-selection {
    background: green;
    color:$light;
}
::selection {
    background: green;
    color:$light;
}

.headings {
    font-weight: 800;
    margin-bottom: 30px;
}
h1 {
   font-size: 48px;
   color: $light;
    @extend .headings;
}

h2 {
    font-size: 30px;
}
p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 36px;
}

strong {
    font-weight: 800;
}

.container {
    @include container;
}
.padding {
    padding:50px 0;
}



@include keyframes(appear) {
    from {
        @include transform(scale(0));
        opacity:0;
    }
    to {
        @include transform(scale(1));
        opacity:1;
    }
}