/*
	*Footer
*/
footer[role=contentinfo] {
    @extend .padding;
    p {
        margin-bottom: 0;
        font-size: 16px;
        color: $light;
        text-align: center;
        a {
            margin-left: 10px;
            border-bottom:1px dashed $light;
            color: $light;
            text-decoration: none;
            &:hover {
                border:none;
            }
        }
    }
}
