/*
    *Main Content
*/
div[role=main] {
    @extend .padding;
    @include display-flex;
    align-items:center;
    background-color: $light;
    h1 {
        margin-bottom: 50px;
        font-size: 35px;
        text-align: center;
        font-weight: 400;
        color:$dark;
    }
    .container {
        width: 100%;
        @include animation(appear 1s ease-in-out);
    }
}
.login {
    text-align: center;
    a {
        @include button("simple", "push", 5px, 1.2rem, $blue);
    }
}
.services {
    @include clearfix;
    div {
        @include clearfix;
    }
    section {
        overflow: hidden;
        @include span(3);
        @for $i from 1 through length($menu) {
            &:nth-child(#{$i}) {
                background-color: nth($menu, $i);
            }
        }
        &:last {
            @include last;
        }
        img {
            padding:20%;
            @extend %responsive;
        }
        &:hover:not(.active) {
            @include transform(scale(1.1));
            z-index:9999;
            position: relative;
        }
        a {
            display: block;
            overflow: hidden;
        }
        &[hidden] {
            display: none;
        }
        &.active {
            margin-left:auto;
            margin-right:auto;
            background-color: $dark;
            float: none;
        }
    }
}

#timer {
    padding:50px 0;
    display: block;
    text-align: center;
    p {
        font-size: 60px;
        display: inline-block;
    }
}